<div class="container">
  <div class="body">

    <h3>Inputs:</h3>
    <form ngForm>
      <label for="value">Value</label>
      <input id="value" name="value" [(ngModel)]="value"/>

      <label for="size">Size</label>
      <input id="size" name="size" [(ngModel)]="size"/>

      <label for="darkColor">Dark Color</label>
      <input id="darkColor" name="size" [(ngModel)]="darkColor"/>

      <label for="lightColor">Light Color</label>
      <input id="lightColor" name="size" [(ngModel)]="lightColor"/>

      <label for="errorCorrectionLevel">Error Correction Level</label>
      <select id="errorCorrectionLevel" name="errorCorrectionLevel" [(ngModel)]="errorCorrectionLevel">
        <option *ngFor="let value of errorCorrectionLevels" [value]="value">{{value}}</option>
      </select>

      <label for="showImage">Show Image in Center?</label>
      <select id="showImage" name="showImage" [(ngModel)]="showImage">
        <option value="no">no</option>
        <option value="yes">yes</option>
      </select>

      <label for="centerImageSize">Center Image Size</label>
      <input id="centerImageSize" name="centerImageSize" [(ngModel)]="centerImageSize"/>

      <label for="margin">Margin</label>
      <input id="margin" name="margin" [(ngModel)]="margin"/>

    </form>

    <h3>Usage:</h3>
    <pre [innerText]="example">
  </pre>

    <h3>Result:</h3>
    <div class="container">
      <qr-code [value]="value"
               [size]="size"
               [darkColor]="darkColor"
               [lightColor]="lightColor"
               [errorCorrectionLevel]="errorCorrectionLevel"
               [centerImageSrc]="centerImageSrc"
               [centerImageSize]="centerImageSize ? this.centerImageSize : undefined"
               [margin]="margin">
      </qr-code>
    </div>

  </div>
</div>
